
{{#each user.bookings}}
<table class="ui center aligned raised celled table segment">
    <thead>
    <tr>

        <th>Trainer</th>
        <th>Trainer</th>
        <th>Date</th>
        <th>Assessment</th>
        <th>Remove Booking</th>
    </tr>
    </thead>

    <tbody>
    <div class="ui raised list">



            <tr>

                <td> You have booked an assessment for {{date}} at {{time}} with Trainer {{trainerId}}{{trainerName}}{{../trainerName}} </td>
                <td> {{trainer}} </td>
                <td> {{date}} </td>
                <td> {{assessment}} </td>
                <td><a href="/membersbookings/deletebooking/{{bookingId}}" class="ui big grey
               icon button">
                    <i class="icon trash"></i></a></td>
            </tr>
        </div>
        </tbody>
            </table>
            <form class="ui form" action="/user/membersbookings/{{member.id}}/updatebooking/{{booking.id}}" method="POST">
                <div class="three fields">
                    <div class="field">
                        <label>Trainer</label>
                        <input placeholder="{{booking.trainer}}" type="text" name="trainer">
                    </div>
                    <div class="field">
                        <label>Date</label>
                        <input placeholder="{{booking.date}}" type="text" name="date">
                    </div>
                    <div class="field">
                        <hr style="height:10px; visibility:hidden;" />
                        <button class="ui blue submit button">Update</button>
                    </div>
                </div>
            </form>
        {{/each}}
