<section class="ui raised segment">
    {{#each classesList}} <!--supposed to get the stuff from EVERY assessment in a list order.-->
        <div class="ui column">
            <table class="ui inverted orange center aligned raised celled table segment">

                <thead>
                <tr>
                    <th>Class</th>
                    <th>Number of Lessons</th>
                    <th>Start Date</th>
                    <th>Total Capacity</th>
                    <th>Difficulty Level</th>
                    <th>Remove Class</th>
                </tr>
                </thead>

                <tbody>
                <div class="ui raised list">
                    <tr>

                        <td> <form action="/classescreation/updateClassName/{{classId}}" method="POST">
                               <input placeholder="{{className}}" type="text" name="className" required><br><br>
                               <button class="ui tiny teal submit button">Update Name</button>
                             </form>
                        </td>
                        <td> {{lessonNumber}} </td>
                        <td> {{startDate}} </td>
                        <td> <form action="/classescreation/updateClassCapacity/{{classId}}" method="POST">
                            <input placeholder="{{maxCapacity}}" type="number" step="1" min="1" max="40" name="maxCapacity" required><br><br>
                            <button class="ui tiny teal submit button">Update Capacity</button>
                        </form>
                        </td>
                        <td> <form action="/classescreation/updateClassDifficulty/{{classId}}" method="POST">
                            <input placeholder="{{difficulty}}" type="number" step="1" min="1" max="11" name="difficulty" required><br><br>
                            <button class="ui tiny teal submit button">Update Difficulty</button>
                        </form>
                        </td>
                        <td><a href="/classescreation/deleteClass/{{classId}}" class="ui big grey
               icon button">
                            <i class="icon trash"></i></a></td>
                    </tr>
                </div>
                </tbody>
            </table>

            <button class="ui tiny teal button" onclick="m{{className}}()">View/Hide Lessons</button>

            <div id="{{className}}" style="display: none;">
            {{#each lessons}}
            <table class="ui teal center aligned raised celled table segment">

                <thead>
                <tr>
                    <th>Lesson Date</th>
                    <th>Start Time</th>
                    <th>Duration of Lesson</th>
                    <th>spaces remaining</th>
                    <th>Remove Lesson</th>
                </tr>
                </thead>

                <tbody>
                <div class="ui raised list">
                    <tr>
                        <td> <p></p><form action="/classescreation/{{../classId}}/updateLessonDate/{{lessonId}}" method="POST">
                            {{lessonDate}} &nbsp; &nbsp;<input type="date" name="lessonDate" required><br><br>
                            <button class="ui tiny orange submit button">Update Lesson Date</button>
                        </form>
                        </td>
                        <td> <form action="/classescreation/{{../classId}}/updateLessonStart/{{lessonId}}" method="POST">
                            {{startTime}} &nbsp; &nbsp;<input type="time" name="startTime" required><br><br>
                            <button class="ui tiny orange submit button">Update Start Time</button>
                        </form>
                        </td>
                        <td> <form action="/classescreation/{{../classId}}/updateDuration/{{lessonId}}" method="POST">
                            {{duration}} &nbsp; &nbsp;<input type="time" name="duration" required><br><br>
                            <button class="ui tiny orange submit button">Update Duration</button>
                        </form>
                        </td>
                        <td> {{currentCapacity}} / {{maxCapacity}} </td>
                        <td><a href="/classescreation/{{../classId}}/deleteLesson/{{lessonId}}" class="ui big grey
               icon button">
                            <i class="icon trash"></i></a></td>
                    </tr>
                </div>
                </tbody>
            </table>
    {{/each}}
            </div>
            <br><br>
        </div>
        <script>
            function m{{className}}() {
                var x = document.getElementById('{{className}}');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
            }
        </script>
    {{/each}}
</section>

